<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
<script src="/static/script.js"></script>
</head>
<body>

<div class="card">

<h2>{{ sure_adi }}</h2>

<audio controls style="width:100%">
  <source src="{{ audio_url }}">
</audio>

<button class="toggle" onclick="toggleSection('arabic')">
📖 Arapça
</button>
<div id="arabic" class="content">
<p class="arabic">{{ arabic_text }}</p>
</div>

<button class="toggle" onclick="toggleSection('translit')">
🔤 Okunuş
</button>
<div id="translit" class="content">
<p>{{ translit_text }}</p>
</div>

<button class="toggle" onclick="toggleSection('meal')">
🇹🇷 Meal
</button>
<div id="meal" class="content">
<p>{{ turkish_text }}</p>
</div>

</div>

</body>
</html>
